<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lookup Bible Passages</title>

    <link href="https://unpkg.com/bulma@0.9.4/css/bulma.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.2.40/dist/vue.global.prod.js"></script>
</head>
<body>

<div id="app">
    <div class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">Lookup Bible Passages</h1>
            <p class="subtitle">Example: <code>Rom 3:11, 10:9, Jn 3:16, Ps 23, Phil 4:4</code></p>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" v-model="searchText" @keyup.enter="search">
                </div>
                <div class="control">
                    <a class="button is-info" @click="search">Search</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div v-if="searchResult" class="content">
                <ul>
                    <li v-for="p in searchResult.passages" v-html="p"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), copyright © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not be translated into any other language.</p>

        <p>Users may not copy or download more than 500 verses of the ESV Bible or more than one half of any book of the ESV Bible.</p>
    </div>
</div>
<script>
    const App = {
        data: function () {
            return {
                apiKeyDataPromise: null,
                searchText: null,
                searchResult: null
            };
        },
        methods: {
            search() {
                if (!this.searchText) {
                    this.searchResult = null;
                }

                this.apiKeyDataPromise.then(apiKeyData => {
                    //console.log(data);
                    const url = `https://api.esv.org/v3/passage/html/?q=${this.searchText}`;
                    const options = {
                        headers: {
                            Authorization: 'Token ' + apiKeyData.ESV.apiKey
                        }
                    };
                    fetch(url, options)
                        .then(resp => resp.json())
                        .then(data => {
                            this.searchResult = data;
                        });

                });
            }
        },
        created: function () {
            // You must provide a API key from https://api.esv.org/ saved in "api-key.json" file.
            this.apiKeyDataPromise = new Promise(resolve => {
                fetch('api-key.json')
                    .then(resp => resp.json())
                    .then(data => resolve(data));
            });

            if (this.searchText) {
                this.search();
            }
        }
    };
    Vue.createApp(App).mount('#app');
</script>

</body>
</html>
